.fixTableHead {
    overflow-y: auto;
    height: 400px;
  }
  .stikey_class{
      position: sticky;
    top: 0;
  }
  .fixTableHead thead th {
    position: sticky;
    top: 0;
    background: #ABDD93;
    border:1px solid #000;
  }
  table {
    border-collapse: collapse;        
    width: 100%;
  }
  th,
  td {
    padding: 8px 15px;
    border: 2px solid #529432;
  }