/*klc start*/
.loan-calculator {
    background: #fff;
    padding: 3rem 1rem;
    margin: 3rem;
}
.loan-calculator a { transition: all 0.0s ease-in-out!important; }


.knowEmiHeading {
    color: #343a40;
}

.emiSliderHeading,
#amount,
.loanSlider1 span,
.loanSlider2 span,
.loanSlider3 span {
    color: #343a40;
    font-weight: 700;
}

.ui-widget-content, .form-range {
/*    border: 1px solid #000000;*/
    background: #e7e7e7 url(../page-not-found.html) 50% top repeat-x;
    color: #333333;
    width: 100%;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
/*    border: 1px solid #000000;*/
    background: #e7e7e7 url(../page-not-found.html) 50% 50% repeat-x;
    font-weight: bold;
    color: #1c94c4;
}

.klc-heading {
    font-weight: 600;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 4rem !important;
    color: #fff;
}

.klc-heading:before {
    content: "";
    position: absolute;
    background-color: #000000 !important;
    height: 3px;
    width: 79px;
    left: 50%;
    bottom: -12px;
    z-index: 0;
    transform: translateX(-50%);
    border-bottom: 4px solid #fff;
}

.klc-heading:after {
    content: "";
    position: absolute;
    border: 9px solid #343a40;
    left: 50%;
    border-bottom: 11px solid #fff;
    bottom: -16px;
    z-index: 0;
    transform: translateX(-50%);
}

.single-total {
    padding: 1rem 1.5rem 0rem 1.5rem;
}
.single-total span {
    color: #1e40a2;
}
.single-total .blogHead span{
    font-size: 1rem;
}
.loan-emi-box {
    background: #ffffff;
}

.emi-price {
    background: #ffffff;
    color: #353b41;
    width: 67%;
    padding: 9px;
    border-radius: 10px;
    margin: auto;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.blog-emi-price{font-size: 1rem}

.klcButton3 {
    background: #ffffff !important;
    color: #343a40 !important;
    border: 2px solid #ffffff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
}

.loan-emi-box {
    border-radius: 19px;
    padding: 0rem;
    border: 1px solid #fff;    
    background-image: linear-gradient(45deg,rgb(227 218 255) 0,rgb(232 225 255) 21%,rgb(236 234 255) 21%,rgb(234 232 255) 30%,rgb(226 231 255) 30%,rgb(241 243 255) 35%,rgb(226 237 255) 35%,rgb(248 251 255) 51%,rgb(248 252 255) 51%,rgb(239 248 255) 72%,rgb(247 245 255) 72%,rgb(243 242 255) 81%,rgb(237 238 255) 81%,rgb(236 253 255) 100%);
    box-shadow: rgb(30 64 162 / 28%) 0px 50px 100px -20px, rgb(30 64 162 / 22%) 0px 30px 60px -30px;
}

.klc-btn {
    color: #fff;
    border-color: #fff;
    margin-top: 1rem;
    padding: 5px 45px; border-radius: 0px;
    background: linear-gradient(200deg,#0085ff .33%,#9340fa 85.46%);
    box-shadow: 0 15px 30px -15px rgb(90 92 248 / 60%);
}
.klc-btn:hover {
    border-color: #343a40; color: #fff;
    background: linear-gradient(200deg,#9340fa .33%,#0085ff 85.46%);
}

.loanSlider1 .ui-widget-header {
    background: #06a5d8 url(../page-not-found.html) 50% 50% repeat-x;
}

.loanSlider2 .ui-widget-header {
    background: #1e40a2 url(../page-not-found.html) 50% 50% repeat-x;
}

.loanSlider3 .ui-widget-header {
    background: #f5970a url(../page-not-found.html) 50% 50% repeat-x;
}

/*klc end*/

